<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student registration </title>
</head>
<body>
    <h1>student registration page</h1>

<form>
    name: <input type="sp bhai" name="sp bhai"><br><br>
    USN: <input type="005" name="005"><br><br>
    college: <input type="sb " name="college"><br><br>
    degree: <input type="btech" name="degree"><br><br>
    semester: <input type="chickst" name="semester"><br><br>

</form>
</body>
</html>